@charset "utf-8";
/*
	Responsive

	Responsive
	Author: Chris Lucas
	Date: 11/6/2016

	File name: responsivecss.css
	Supporting Files: Site html files

*/
/* Body Styles/Widths */
body {
  background-image: url('mmedia/background2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Long Shot, Verdana, Geneva, sans-serif;
}
.wrapper {
  width: 90%;
  margin: 10% auto;
}
.row {
  clear: both;
}
.column {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  text-align: center;
}
.twelve {
  width: 100%;
  background-color: #000000;
}
.eleven {
  width: 91.53%;
  color: #f8f8ff;
  background-color: #000000;
}
.ten {
  width: 83.06%;
}
.nine {
  width: 74.6%;
}
.eight {
  width: 66.13%;
  background-color: #000000;
}
.seven {
  width: 57.66%;
}
.six {
  width: 49.2%;
}
.five {
  width: 40.73%;
}
.four {
  width: 32.26%;
}
.three {
  width: 23.8%;
}
.two {
  width: 15.33%;
}
.one {
  width: 6.866%;
}
section {
  color: #f8f8ff;
}
/* img responsiveness */
img,
iframe {
  max-width: 100%;
}
.panel {
  background-color: rgba(47, 79, 79, 0.6);
  border: 1px;
  border-style: solid;
  border-color: #f8f8ff;
}
.right {
  background-color: rgba(47, 79, 79, 0.6);
  border: 1px;
  border-style: solid;
  border-color: #f8f8ff;
}
.left {
  background-color: rgba(47, 79, 79, 0.6);
  border: 1px;
  border-style: solid;
  border-color: #f8f8ff;
}
.middle {
  background-color: rgba(47, 79, 79, 0.6);
  border: 1px;
  border-style: solid;
  border-color: #f8f8ff;
}
